.hzh-contacts__desc{
    font-family: $forum-font-family;
    font-size: 30px;     
    color: #110601;
    margin-bottom: 70px;
}
.hzh-contacts{
    margin-top: 75px;
    h5{
        font-family: $philosopher-font-family;
        font-size: 36px;
        color: #110601;
    }
}
.hzh-contacts__department{
    max-width: 600px;
    margin-bottom: 75px;

    &--title{
        font-family: Forum;
        line-height: 29px;
        font-size: 24px;
        color: #000000;
        margin-left: 5%;

        &::after{
            position: absolute;
            content: " ";
            border: 0.5px solid #110601;
            display: table-cell;
            text-align: center;
            width: 60%;
            margin: 0 auto;    
            overflow: hidden;   
            // @include breakpoint(medium){
            //     width: 80%;
            //     left: 5%;    
            // }
            // @include breakpoint(large){
            //     width: 60%;
            //     left: 8%;    
            // }
        }
    }
    &--info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--info-name{
        font-family: $forum-font-family;
        line-height: 22px;
        font-size: 18px;
        color: #000000;
        align-items: flex-start;
        p{
            margin-bottom: 0;
        }
        p + p{
            margin-top: 10px;
        }
        span{
            font-family: $ubuntu-font-family;
            font-weight: 300;
            line-height: 19px;
            font-size: 14px;
            color: #999999;
        }
        span + p{
            margin-top: 40px;
        }
    }
    &--info-contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a{
            text-decoration: none;
            font-family: $ubuntu-font-family;
            font-weight: 300;
            line-height: 22px;
            font-size: 16px;
            color: #000000;
            &:hover{
                text-decoration: underline;
            }
        }
        a + a{
            margin-top: 20px;
        }
    }
}
#hzh-contactmap{
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    z-index: -1;
    position: relative;

    }
    .hzh-map-adress{
        display: block;
        font-family: $ubuntu-font-family;
        font-weight: 300;
        line-height: 22px;
        font-size: 16px;
        color: #000000;
        background: #FFFDFD;
        padding: 20px 7px 6px 17px;
        z-index: 1;
        position: absolute;
        bottom: -1270px;
        left: 200px;
    }