.ok-block-adaptive-product{
    display: none;
    @include breakpoint(medium){
        display: block;

    }
}
.ok-single-product{
    padding: 30px 0 30px;
    overflow: hidden;
    @include breakpoint(medium){
        padding: 100px 0 50px;

    }
    // &__img{
    //     display: flex;
    //     // max-height: 200px;
    //     @include breakpoint(medium){
    //         display: block;
            
    //     }
    //     img{
    //         width: 100%;
    //     }
    
    .ok-single-product__title{
        font-size: 24px;
        font-family: 'Forum', cursive;
        color: #110601;
        margin-bottom: 0;
        border-bottom: 1px solid #110601;
        
        @include breakpoint(medium){
            font-size: 30px; 
            margin-bottom: 15px;

        }
    }
   
    &__info-book{
        margin-top: 0;
        @include breakpoint(medium){
            margin-top: 30px; 
           
        }
        display: flex;
        // justify-content: space-between;
        p{
            max-width: 175px;
            margin-bottom: 0;
            font-size: 12px;
            line-height: 2;
            font-family: 'Ubuntu', sans-serif;
            color: #7F7979;
            @include breakpoint(medium){
                font-size: 14px; 
                line-height: 2.2;
               
            }
        }
    }


}
.ok-single-product__comment-btn{
    font-size: 0;
    @include breakpoint(medium){
       margin-left: 80px;
       
    }
    svg{
        width: 30px;
        height: 30px;
        margin-right: 7px;
    }
    a{

        display: flex;
        text-decoration: none;
        color: #110601;
        margin-bottom: 10px;
        &:hover{
            color: rgba(255, 179, 32, 0.94);
        }
    }
    button{
        display: flex;
        &:hover{
            transition: .3s ease-in;
            color: rgba(255, 179, 32, 0.94);
        }
    }
}
.ok-single-product__price{
    display: flex;
    align-items: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
    justify-content: center;
    margin-top: 5px;
    @include breakpoint(medium){
        font-size: 36px;
        margin-bottom: 30px;
        margin-top: 0;
        justify-content: flex-start;
        
     }
    svg{
        @include breakpoint(medium){
            margin-right: 55px;
            
         }
         margin-right: 25px;
        width: 30px;
        height: 30px;
    }
}
.ok-single-product__subtitle{
    font-size: 14px;
    color: #7F7979;
    font-family: 'Forum', cursive;
    @include breakpoint(medium){
        font-size: 24px; 
        
    }
}
.ok-single-product__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    @include breakpoint(medium){
        flex-direction: row;
       
    }
}
.ok-input-nubmer{
    border-bottom: 1px solid #110601;
    display: flex;
    margin-left: 0;
    align-items: center;
    font-size: 24px;
    @include breakpoint(medium){
        margin-left: 30px;
       
    }
    button{
        cursor: pointer;
        &:hover{
            color: rgba(255, 179, 32, 0.94);
            transition: .3s ease-in;
        }
    }
    input{

        text-align: center;
        padding: 0 ;
        margin: 0;
        font-family: 'Philosopher', sans-serif;
        max-width: 150px;
        border: none;
        &:focus{
            outline: none;
        }
    }
}
.ok-btn-to-cart{
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: rgba(255, 179, 32, 0.94);
    transition: .3s ease-in;
    @include breakpoint(medium){
        padding: 14px 30px;
    font-size: 18px;
    margin-bottom: 0;
       
    }
    
    &:hover{
        outline: none;
        background: rgba(255, 179, 32, 0.94);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: .3s ease-in;
    }
    &:active{
        background: rgba(255, 179, 32, 0.94);
        transition: .3s ease-in;
    }
    cursor: pointer;
}
.ok-arrow-plus{
    min-width: 30px;
}
.ok-arrow-minus{
    min-width: 30px;
}
.ok-single-product__author{
    font-size: 14px;
    color: #7F7979;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.text-info-book{
    p{
        font-size: 16px;
        font-family: 'Ubuntu', sans-serif;
        color: #110601;
        font-weight: 300;
    }
}
.padding-left-block{
  
    @include breakpoint(medium){
        margin-top: 15px;
        padding-left: 0;
    }
}
.block-title-adaptive{
    padding: 0 10px 0;
    display: block;
    margin-bottom: 10px;
    @include breakpoint(medium){
        display: none;
    }
}
.ok-block-drop-menu{
    padding-top: 15px;
  @include breakpoint(medium){
    padding-top: 65px;
}
  font-size: 16px;
  color: #110601;
  span{
        border-bottom: 1px solid rgba(255, 179, 32, 0.94);
        padding-bottom: 8px;
  }
}
.drop-menu-info{
    a{
        border-bottom: 1px solid rgba(255, 179, 32, 0.94);
        padding-right: 0;
        color: #110601;
        &:after{
            left: 0;
           
        }
    }
}
.ok-single-product__img{
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.ok-book-wrap-signle{
    // backface-visibility: hidden;
    transform-style: preserve-3d;
    position: relative;
    transition: .6s ease-in;
    
    .ok-book-signle-spine{
        position: absolute;
        content: "";
        width: 31px;
        top: 0;
        left: -16px;
        right: 0;
        bottom: 0;
        background: #7F7979;
        transform: rotateY(90deg) translateX(14px);
    }
    img{
        width: 100%;
    }
}
.hover-book{
    @include breakpoint(large){
        &:hover{
       transform: rotateY(40deg);
       transition: .6s ease-in;
        }

    }
}
.ok-back-single{
    display: none;
    @include breakpoint(large){
        display: flex;
    }
}
.ok-title-single{
    img{
        height: 100%;
        width: auto;
        @include breakpoint(medium){
            height: auto;
            width: 100%;
        }

    }
}
.flip-book{
    @include breakpoint(large){
        &:hover{
            transform: rotateY(180deg);
            transition: .6s ease-in;
             }
    
    
    .ok-back-single{
        background-image: url(../img/back-book.jpg);
        background-size: cover;
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        padding: 10px;
        // background: #ccc;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        transform: rotateY(-180deg) translateZ(30px);
    
    }
    }
}
    
