<section class="hzh-information row column">
    <div class="row">
        <aside>
            <p><a href="#">Замовлення</a></p>
            <p><a href="#">Закладки</a></p>
            <p><a href="#">Коментарі та запитання</a></p>
            <p><a href="#">Інформація акаунту</a></p>
        </aside>
        <div class="hzh-info">
            <h2>Інформація акаунту</h2>
            <span>Дані користувача</span>
            <form class="hzh-info__form" action="">
                <p>login</p>
                <p><input maxlength="25" size="40" value="email.P.I.@ua"></p>
            </form>
            <form class="hzh-info__form" action="">
                <p>Е-mail</p>
                <p><input maxlength="25" size="40" value="email.P.I.@ua"></p>
            </form>
            <form class="hzh-info__form" action="">
                <p>новий пароль</p>
                <p><input maxlength="25" size="40" value=""></p>
            </form>
            <form class="hzh-info__form" action="">
                <p>повторити новий пароль</p>
                <p><input maxlength="25" size="40" value=""></p>
            </form>
            <span>Отримувач</span>
            <div class="hzh-choose">
                <a href="#">Фізична особа</a>
                <a href="#">Юридична особа</a>
            </div>
            <!-- /.hzh-choose -->
            <form class="hzh-info__form" action="">
                <p>П. І. П.</p>
                <p><input maxlength="25" size="40" value="Прізвище Ім’я Іванович"></p>
            </form>
            <form class="hzh-info__form" action="">
                <p>Е-mail</p>
                <p><input maxlength="25" size="40" value="email.P.I.@ua "></p>
            </form>
            <form class="hzh-info__form" action="">
                <p>Телефон</p>
                <p><input maxlength="25" size="40" value="+38 (099) 87 65 432"></p>
            </form>
            <input type="checkbox" name="option2" value="a2">зберегти дані для наступної покупки<br>
            <span>Доставка</span>
            <div class="hzh-choose">
                <a href="#">Самовивіз</a>
                <a href="#">Кур’єром</a>
            </div>
            <!-- /.hzh-choose -->
            <form class="hzh-info__form" action="">
                <p>Транспортна компанія</p>
                <p><input maxlength="25" size="40" value="Пошта"></p>
            </form>
            <form class="hzh-info__form" action="">
                <p>Населений пункт</p>
                <p><input maxlength="25" size="40" value="Полтава"></p>
            </form>
            <form class="hzh-info__form" action="">
                <p>№ відділення</p>
                <p><input maxlength="25" size="40" value="1"></p>
            </form>
            <input class="hzh-checkbox" type="checkbox" name="option2" value="a2">зберегти дані для наступної покупки<br>
            <button class="hzh-acc-btn">зберегти дані</button>
            <div class="hzh-info-bottom"><p>збережена вами інформація залишається приватною і не буде відображатися публічно буде лише у випадку оформлення замовлення</p></div>
        </div>
    </div>
    <!-- /.row column -->
</section>


    