<section class="hzh-bookmarks row column">
    <h2>Закладки</h2>
    <div class="row">
        <aside>
            <p><a href="#">Замовлення</a></p>
            <p><a href="#">Закладки</a></p>
            <p><a href="#">Коментарі та запитання</a></p>
            <p><a href="#">Інформація акаунту</a></p>
        </aside>
        <div class="hzh-bookmarks__all">
            <div class="hzh-bookmarks__all--help">
                <img class="hzh-bookmarks__all--help-img" src="../assets/img/bookmark-btn.svg" alt="bookmark-btn">
                <p>Тут зберігаються усі книги, журнали або статті, які ви вподобали</p>
            </div>
            <!-- /.hzh-bookmarks__help -->
            <a href="#">
                <div class="hzh-bookmarks__all--books callout" data-closable>
                    <img src="../assets/img/bookmark-help.svg" alt="bookmark-help">
                    <button class="close-button" aria-label="Close alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>    
                    <p>Розширення функціональності віртуального навчального середовища Львівської політехніки<span> Івасів В.В., 2011</span></p>
                </div>
                <!-- /.hzh-bookmarks__help -->
            </a>

        </div>
        <!-- <div class="hzh-account-bottom">
            <div class="hzh-form-select">
                <select name="" id="">
                    <option value="" disabled="disabled" selected="selected">Сортувати за</option>
                    <option>спаданням ціни</option>
                    <option>зростанням ціни</option>
                    <option>новизною</option>
                </select>
            </div>
            <div class="hzh-change-pages">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
            </div>
            /.hzh-change-pages -->
        <!-- </div> --> 
        <!-- /.hzh-account-bottom -->
    </div>
    <!-- /.row column -->
</section>
