<section class="row column">
        <h2>Мережа книгарень</h2>
        <p class="hzh-contacts__desc">Видавництва Львівської політехніки</p>
</section>
<div id="hzh-map"></div>
<section class="hzh-bookstore row column">
        <div class="hzh-bookstore__location">
            <div class="hzh-bookstore__location--adress">
                <span>Головний корпус Львівської політехніки</span>
                <p>вул. Степана Бандери,<br> 12 тел. 258-24-92</p>
                <p>пн-пт 9.00-18.00,<br> сб 10.00-13.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
            <img src="../assets/img/bookstore-1.png" alt="Головний корпус Львівської політехніки">
        </div>
        <!-- /.hzh-bookstare__location -->
        <div class="hzh-bookstore__location">
            <img src="../assets/img/bookstore-2.png" alt="Студентська бібліотека">
            <div class="hzh-bookstore__location--adress">
                <span>Студентська бібліотека</span>
                <p>вул. Митрополита Андрея,<br> 3 факс (032) 258-23-80,<br> тел. 258-26-68</p>
                <p>пн-пт 9.00-18.00,<br> сб 10.00-15.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
        </div>
        <!-- /.hzh-bookstare__location -->
        <div class="hzh-bookstore__location">
            <div class="hzh-bookstore__location--adress">
                <span>1й навчальний корпус Львівської політехніки</span>
                <p>вул. Карпінського, 2/4</p>
                <p>пн-пт 10.00-15.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
            <img src="../assets/img/bookstore-3.png" alt="1й навчальний корпус Львівської політехніки">
        </div>
        <!-- /.hzh-bookstare__location -->
        <div class="hzh-bookstore__location">
            <img src="../assets/img/bookstore-4.png" alt="2й навчальний корпус Львівської політехніки">
            <div class="hzh-bookstore__location--adress">
                <span>2й навчальний корпус Львівської політехніки</span>
                <p>вул. Карпінського, 6</p>
                <p>пн-пт 10.00-15.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
        </div>
        <!-- /.hzh-bookstare__location -->
        <div class="hzh-bookstore__location">
            <div class="hzh-bookstore__location--adress">
                <span>4й навчальний корпус Львівської політехніки</span>
                <p>вул. Митрополита Андрея, 5,<br> тел. 258-23-56</p>
                <p>пн-пт 9.00-18.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
            <img src="../assets/img/bookstore-5.png" alt="4й навчальний корпус Львівської політехніки">
        </div>
        <!-- /.hzh-bookstare__location -->
        <div class="hzh-bookstore__location">
            <img src="../assets/img/bookstore-6.png" alt="5й навчальний корпус Львівської політехніки">
            <div class="hzh-bookstore__location--adress">
                <span>5й навчальний корпус Львівської політехніки</span>
                <p>вул. С. Бандери, 28а</p>
                <p>пн-пт 10.00-15.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
        </div>
        <!-- /.hzh-bookstare__location -->
        <div class="hzh-bookstore__location">
            <div class="hzh-bookstore__location--adress">
                <span>8й навчальний корпус Львівської політехніки</span>
                <p>пл. Св. Юра, 2</p>
                <p>пн-пт 10.00-15.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
            <img src="../assets/img/bookstore-7.png" alt="8й навчальний корпус Львівської політехніки">
        </div>
        <!-- /.hzh-bookstare__location -->
        <div class="hzh-bookstore__location">
            <img src="../assets/img/bookstore-8.png" alt="11й навчальний корпус Львівської політехніки">
            <div class="hzh-bookstore__location--adress">
                <span>11й навчальний корпус Львівської політехніки</span>
                <p>вул. Професорська, 2</p>
                <p>пн-пт 10.00-15.00</p>
            </div>
            <!-- /.hzh-bookstare__location--adress -->
        </div>
        <!-- /.hzh-bookstare__location -->
        <p class="hzh-bookstore__about">У нашій мережі книгарень, окрім книг Видавництва Львівської політехніки, ви знайдете книжки багатьох інших видавців</p>
        <div class="hzh-bookstore-logos">
            <div class="hzh-bookstore-logo">
                <a href="/"><img src="../assets/img/bookstore-logo-1.png" alt="Знання"></a>
                <a href="/"><img src="../assets/img/bookstore-logo-2.png" alt="Дерево"></a>
                <a href="/"><img src="../assets/img/bookstore-logo-3.png" alt="Урбино"></a>
                <a href="/"><img src="../assets/img/bookstore-logo-4.png" alt="Летопис"></a>                           
            </div>
            <!-- /.hzh-bookstore-logo -->
            <div class="hzh-bookstore-logo">
                <a href="/"><img src="../assets/img/bookstore-logo-5.png" alt="Дух и летература"></a>
                <a href="/"><img src="../assets/img/bookstore-logo-6.png" alt="Серебренное слово"></a>
                <a href="/"><img src="../assets/img/bookstore-logo-7.png" alt="Академвидов"></a>      
            </div>
            <!-- /.hzh-bookstore-logo -->
            <div class="hzh-bookstore-logo">
                <a href="/"><img src="../assets/img/bookstore-logo-8.png" alt="Априори"></a>
                <a href="/"><img src="../assets/img/bookstore-logo-9.png" alt="Издательство старого льва"></a>
                <a href="/"><img src="../assets/img/bookstore-logo-10.png" alt="Независимый культурный времяпис"></a>
            </div>
            <!-- /.hzh-bookstore-logo -->
        </div>
        <!-- /.hzh-bookstore-logos -->
</section>