<section class="hzh-catalog">
    <div class="row column">
        <h2>Каталог видань</h2>

        <div class="hzh-formobile">
            <ul class="hzh-catalogs__books tabs">
                <li><a class="hzh-catalogtitle" href="#t1">Книги</a></li>
                <li><a class="hzh-catalogtitle" href="#t2">Журнали</a></li>
                <li><a class="hzh-catalogtitle" href="#t3">Рубрики</a></li>
            </ul>
            <!-- /.hzh-catalogs__books -->
            <div id="t1" class="tab">
                <ul>
                    <li><a href="/">Монографії</a></li>
                    <li><a href="/">Навчально-методичні видання</a></li>
                    <li><a href="/">Навчальні посібники</a></li>
                    <li><a href="/">Підручники</a></li>
                    <li><a href="/">Тези доповідей</a></li>
                </ul>
            </div>
            <div id="t2" class="tab">
                <ul>
                    <li><a href="/">Вісник Національного університету “Львівська політехніка”</a></li>
                    <li><a href="/">Міжвідомчі науково-технічні збірники</a></li>
                    <li><a href="/">Наукові журнали</a></li>
                </ul>
            </div>
            <div id="t3" class="tab current">
                <ul>
                    <li><a href="/">Автоматика, радіоелектроніка, телекомунікації</a></li>
                    <li><a href="/">Архітектура, містобудування</a></li>
                    <li><a href="/">Біологія, валеологія</a></li>
                    <li><a href="/">Будівництво</a></li>
                    <li><a href="/">Геодезія, картографія</a></li>
                    <li><a href="/">Економіка</a></li>
                    <li><a href="/">Електроенергетика, електромеханіка</a></li>
                    <li><a href="/">Загальнотехнічні науки</a></li>
                    <li><a href="/">Збірники тестових завдань</a></li>
                    <li><a href="/">Історія</a></li>
                    <li><a href="/">ІТ, комп'ютери</a></li>
                    <li><a href="/">Математика</a></li>
                    <li><a href="/">Мовознавство</a></li>
                    <li><a href="/">Політика, право</a></li>
                    <li><a href="/">Приладо-, машинобудування, транспорт</a></li>
                    <li><a href="/">Словники, енциклопедії, довідники</a></li>
                    <li><a href="/">Фізика</a></li>
                    <li><a href="/">Філософія, психологія, педагогіка</a></li>
                    <li><a href="/">Хімія, хімічна технологія</a></li>
                    <li><a href="/">Художня література</a></li>
                </ul>
            </div>
            <!-- /.hzh-catalogs__heading -->
        </div>
        <!-- /.formobile -->
        <div class="hzh-for-medium-and-large hzh-catalogs">
            <div class="hzh-catalogs__books">
                <a class="hzh-catalogtitle" href="#">Книги</a>
                <ul>
                    <li><a href="/">Монографії</a></li>
                    <li><a href="/">Навчально-методичні видання</a></li>
                    <li><a href="/">Навчальні посібники</a></li>
                    <li><a href="/">Підручники</a></li>
                    <li><a href="/">Тези доповідей</a></li>
                </ul>
            </div>
            <!-- /.hzh-catalogs__books -->
            <div class="hzh-catalogs__magazine">
                <a class="hzh-catalogtitle" href="#t2">Журнали</a>
                <ul>
                    <li><a href="/">Вісник Національного університету “Львівська політехніка”</a></li>
                    <li><a href="/">Міжвідомчі науково-технічні збірники</a></li>
                    <li><a href="/">Наукові журнали</a></li>
                </ul>
            </div>
            <!-- /.hzh-catalogs__books -->
            <div class="hzh-catalogs__heading">
                <a class="hzh-catalogtitle" href="#">За рубриками</a>
                <ul>
                    <li><a href="/">Автоматика, радіоелектроніка, телекомунікації</a></li>
                    <li><a href="/">Архітектура, містобудування</a></li>
                    <li><a href="/">Біологія, валеологія</a></li>
                    <li><a href="/">Будівництво</a></li>
                    <li><a href="/">Геодезія, картографія</a></li>
                    <li><a href="/">Економіка</a></li>
                    <li><a href="/">Електроенергетика, електромеханіка</a></li>
                    <li><a href="/">Загальнотехнічні науки</a></li>
                    <li><a href="/">Збірники тестових завдань</a></li>
                    <li><a href="/">Історія</a></li><br><br><br>
                    <li><a href="/">ІТ, комп'ютери</a></li>
                    <li><a href="/">Математика</a></li>
                    <li><a href="/">Мовознавство</a></li>
                    <li><a href="/">Політика, право</a></li>
                    <li><a href="/">Приладо-, машинобудування, транспорт</a></li>
                    <li><a href="/">Словники, енциклопедії, довідники</a></li>
                    <li><a href="/">Фізика</a></li>
                    <li><a href="/">Філософія, психологія, педагогіка</a></li>
                    <li><a href="/">Хімія, хімічна технологія</a></li>
                    <li><a href="/">Художня література</a></li>

                    <a class="hzh-allbooks" href="../catalog-book-all.html"><span>дивитись усі >></span></a>
                </ul>
            </div>
            <!-- /.hzh-catalogs__books -->
        </div>
        <!-- /.div-formudiumandlarge -->
    </div>
    <!-- /.catalog -->
    </div>
    <!-- /.row column -->
</section>
<!-- /.hzh-catalog -->