<section class="hzh-contacts">
    <div class="row column">
        <h2>Контакти</h2>
        <p class="hzh-contacts__desc">Видавництва Львівської політехніки</p>

        <div class="hzh-contacts__department">
            <p class="hzh-contacts__department--title">Дирекція</p>
            <div class="hzh-contacts__department--info">
                <div class="hzh-contacts__department--info-name">
                    <p>Іван Паров’як</p>
                    <span>директор</span>
                </div>
                <!-- /.hzh-contacts__department--name -->
                <div class="hzh-contacts__department--info-contact">
                    <a href="href=tel:0 32 2582022, 2582242">тел. 0 32 2582022, 2582242</a>
                    <a href="href=tel:0 32 2582136">факс 0 32 2582136</a>
                    <a href="href=mailto: vlp@vlp.com.ua">ел. пошта vlp@vlp.com.ua</a>
                </div>
                <!-- /.hzh-contacts__department--contact -->
            </div>
            <!-- /.hzh-contacts__department--info -->
        </div>
        <!-- /.hzh-contacts__department -->
        <div class="hzh-contacts__department">
            <p class="hzh-contacts__department--title">Відділ замовлень</p>
            <div class="hzh-contacts__department--info">
                <div class="hzh-contacts__department--info-name">
                    <p>Наталія Головацька</p>
                    <span>заступник директора</span>
                </div>
                <!-- /.hzh-contacts__department--name -->
                <div class="hzh-contacts__department--info-contact">
                    <a href="href=tel:0 32 2582137">тел. 0 32 2582137</a>
                    <a href="href=mailto:vz@vlp.com.ua">ел. пошта: vz@vlp.com.ua</a>
                </div>
                <!-- /.hzh-contacts__department--contact -->
            </div>
            <!-- /.hzh-contacts__department--info -->
        </div>
        <!-- /.hzh-contacts__department -->
        <div class="hzh-contacts__department">
            <p class="hzh-contacts__department--title">Редакційно-видавничий відділ</p>
            <div class="hzh-contacts__department--info">
                <div class="hzh-contacts__department--info-name">
                    <p>Олена Губарєва</p>
                    <span>головний редактор</span>
                    <p>Лілія Саламін</p>
                    <span>технічний редактор</span>
                </div>
                <!-- /.hzh-contacts__department--name -->
                <div class="hzh-contacts__department--info-contact">
                    <a href="href=tel:0 32 2582216">тел. 0 32 2582216</a>
                    <a href="href=mailto:olena@vlp.com.ua">ел. пошта olena@vlp.com.ua</a>
                    <a href="href=tel:0 32 2582242">тел. 0 32 2582242</a>
                    <a href="href=mailto:tehred@vlp.com.ua">ел. пошта tehred@vlp.com.ua</a>
                </div>
                <!-- /.hzh-contacts__department--contact -->
            </div>
            <!-- /.hzh-contacts__department--info -->
        </div>
        <!-- /.hzh-contacts__department -->
        <div class="hzh-contacts__department">
            <p class="hzh-contacts__department--title">Комп'ютерний центр</p>
            <div class="hzh-contacts__department--info">
                <div class="hzh-contacts__department--info-name">
                    <p>Галина Сукмановська</p>
                    <span>зав.відділу підготовки видавничих оригіналів</span>
                    <p>Уляна Келеман</p>
                    <span>зав.відділу художнього оформлення видань</span>
                </div>
                <!-- /.hzh-contacts__department--name -->
                <div class="hzh-contacts__department--info-contact">
                    <a href="href=tel:0 32 2582242">тел. 0 32 2582242</a>
                    <a href="href=malito:gz@vlp.com.ua">ел. пошта gz@vlp.com.ua</a>
                    <a href="href=tel:0 32 2582242">тел. 0 32 2582242</a>
                    <a href="href=mailto:design@vlp.com.ua">ел. пошта design@vlp.com.ua</a>
                </div>
                <!-- /.hzh-contacts__department--contact -->
            </div>
            <!-- /.hzh-contacts__department--info -->
        </div>
        <!-- /.hzh-contacts__department -->
        <div class="hzh-contacts__department">
            <p class="hzh-contacts__department--title">Центр прикладних інформаційних технологій</p>
            <div class="hzh-contacts__department--info">
                <div class="hzh-contacts__department--info-name">
                        <p>Роман Голощук</p>
                        <span>заступник директора</span>
                        <p>Віталій Баляс</p>
                        <span>інженер-програміст</span>
                        <p>Галина Дацьо</p>
                        <span>спеціаліст</span>
                    </div>
                <!-- /.hzh-contacts__department--name -->
                <div class="hzh-contacts__department--info-contact">
                        <a href="href=tel:0 32 2582242">тел. 0 32 2582242</a>
                        <a href="href=malito:cpit@vlp.com.ua">ел. пошта: cpit@vlp.com.ua </a>
                        </div>
                <!-- /.hzh-contacts__department--contact -->
            </div>
            <!-- /.hzh-contacts__department--info -->
        </div>
        <!-- /.hzh-contacts__department -->
        <div class="hzh-contacts__department">
            <p class="hzh-contacts__department--title">Редакція рекламної інформації</p>
            <div class="hzh-contacts__department--info">
                <div class="hzh-contacts__department--info-name">
                        <p>Ірина Лонкевич</p>
                        <span>редактор</span>
                                    </div>
                <!-- /.hzh-contacts__department--name -->
                <div class="hzh-contacts__department--info-contact">
                        <a href="href=tel:0 32 2582317">тел. 0 32 2582317</a>
                        <a href="href=malito:info@vlp.com.ua">ел. пошта info@vlp.com.ua</a>
                                        </div>
                <!-- /.hzh-contacts__department--contact -->
            </div>
            <!-- /.hzh-contacts__department--info -->
        </div>
        <!-- /.hzh-contacts__department -->
        <div class="hzh-contacts__department">
            <p class="hzh-contacts__department--title">Відділ маркетингу та розповсюдження</p>
            <div class="hzh-contacts__department--info">
                <div class="hzh-contacts__department--info-name">
                        <p>Анна Пшик</p>
                        <p>Лілія Сеник</p>
                        <p>Андрій Музиченко</p>
                        <p>Ірина Серденько</p>
                        <span>мережа книгарень</span>
                                            </div>
                <!-- /.hzh-contacts__department--name -->
                <div class="hzh-contacts__department--info-contact">
                        <a href="href=tel:0 32 2582146">тел. 0 32 2582146</a>
                        <a href="href=malito:vmr@vlp.com.ua">ел. пошта: vmr@vlp.com.ua</a>
                        <a href="href=tel:0 32 2582380, 0 32 2582668">тел. 0 32 2582380, 0 32 2582668</a>
                                                </div>
                <!-- /.hzh-contacts__department--contact -->
            </div>
            <!-- /.hzh-contacts__department--info -->
        </div>
        <!-- /.hzh-contacts__department -->
</section>
<!-- /.hzh-contacts -->

<div id="hzh-contactmap">
</div>
<div class="hzh-map-adress text-center">
    <p>вул. Ф. Колесси, 4, корп. 23А,</p>
    <p>м. Львів, 79000</p>
</div>
<!-- /.hzh-map-adress -->
