 <section class="ok-event-home">
     <div class="ok-event-home__title row">
        <a href="#">Події/Цікаве</a>
    </div>
    <!-- /.ok-event-home__title -->
     <div class="row">
         <div class="column small-12 medium-4">
            <a href="#">
             <div class="ok-event-img ">
                 <img src="{{root}}assets/img/event-img3.jpg" alt="event">
             </div>
             <!-- /.ok-event-img -->
             <div class="ok-event-info">
                 <h4>Хай живуть канікули!</h4>
                 <p>Дорогі Автори, Читачі, Покупці!
                        Наразі нам не пишіть і не дзвоніть.
                         Ми будемо поза межами і поза зонами.</p>
             </div>
             <!-- /.ok-event-info -->
            </a>
         </div>
         <!-- /.column -->
         <div class="column small-12 medium-4">
                <a href="#">
                 <div class="ok-event-img ">
                     <img src="{{root}}assets/img/event-img1.jpg" alt="event">
                 </div>
                 <!-- /.ok-event-img -->
                 <div class="ok-event-info">
                     <h4>Двадцять найкращих книжок століття, перекладених українською</h4>
                     <p>Дорогі Автори, Читачі, Покупці!
                            Наразі нам не пишіть і не дзвоніть.
                             Ми будемо поза межами і поза зонами.</p>
                 </div>
                 <!-- /.ok-event-info -->
                </a>
             </div>
             <!-- /.column -->
             <div class="column small-12 medium-4">
                    <a href="#">
                     <div class="ok-event-img ">
                         <img src="{{root}}assets/img/event-img2.jpg" alt="event">
                     </div>
                     <!-- /.ok-event-img -->
                     <div class="ok-event-info">
                         <h4>28 червня – День Конституції України</h4>
                         <p>Держава починається з мене.</p>
                     </div>
                     <!-- /.ok-event-info -->
                    </a>
                 </div>
                 <!-- /.column -->
     </div>
     <!-- /.row -->
 </section>
 <!-- /.ok-event-home -->