<div class="vo-footer-border hide-for-small-only"></div>
<!-- /.vo-footer-border -->
<div class="vo-footer">
    <div class="row" style="width: 100%;">
        <div class="small-12 medium-4 vo-img">
            <div class="row vo-img--first">
                <svg width="75" height="70">
                    <use xlink:href="#svg-lp-gray"></use>
                </svg>
                <svg width="110" height="64">
                    <use xlink:href="#svg-library"></use>
                </svg>
            </div>
            <!-- /.row -->
            <div class="row vo-img--second">
                <svg width="90" height="35">
                    <use xlink:href="#svg-ebook"></use>
                </svg>
                <svg width="83" height="62">
                    <use xlink:href="#svg-ntshukgray"></use>
                </svg>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.small-12 medium-4 -->
        <div class="small-12 medium-4 align-middle vo-menu">
            <ul class="menu vertical vo-menu--first">
                <li><a href="../catalog-book-all.html">Каталог</a></li>
                <li><a href="#">Нове</a></li>
                <li><a href="../news.html">Події/Цікаве</a></li>
            </ul>
            <ul class="menu vertical vo-menu--second">
                <li><a href="#">Як придбати</a></li>
                <li><a href="#">Ціни</a></li>
                <li><a href="#">Вимоги для друку</a></li>
                <li class="hide-for-medium hide-for-large hide-for-xlarge hide-for-xxlarge"><a href="../contacts-page.html">Контакти</a></li>
                <li><a href="../bookstore-network.html">Книгарні</a></li>
            </ul>
        </div>
        <!-- /.small-12 medium-4 -->
        <div class="medium-4 hide-for-small-only vo-line">
            <ul class="menu vertical vo-line-menu">
                <li>
                    <svg width="34" height="30">
                        <use xlink:href="#svg-basket"></use>
                    </svg>
                    <a href="order-cart.html"><span>Кошик</span></a>
                </li>
                <li>
                    <svg width="30" height="30">
                        <use xlink:href="#svg-user"></use>
                    </svg>
                    <div class="vo-line-menu--links">
                        <a href="../sing-up.html"> <span>Зарееструватуся</span></a>
                        <a href="../sing-in.html"> <span>Увiйти</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.small-12 medium-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.vo-footer -->
