 <section class="ok-regist">
     <div class="ok-regist__block">
         <h3 class="ok-regist__title">
            Реєстрація
         </h3>
         <span class="ok-regist__subtitle">або <a href="#">увійти на сайт</a></span>
         <form action="#" class="ok-regist__form">
            <ul class="ok-regist__item">
                <li>
                    <label for="#">e-mail</label>
                    <input type="email" required placeholder=" ">
                </li>
                <li class="ok-pass-form">
                        <label for="#">пароль</label>
                        <input type="password" id="ok-show-pass__form" required placeholder=" ">
                        <button type="button" class="ok-show-password"><svg>
                            <use xlink:href="#ok-show-pass" />
                     </svg></button>

                </li>
                <li>
                    <label for="№">номер телефону</label>
                    <input type="number" required placeholder="+38(099)8765432">
                    
                </li>
                <li class="ok-form-submit-regist"><button type="submit">Зареєструватися</button></li>
            </ul>
         </form>
         <p class="ok-form-text">натискаючи на кнопку “Зареєструватися” я погоджуся з умовами користувача сайту</p>
         <span class="ok-form-social-text">увійти через соц. мережу</span>
         <div class="ok-form-social">
             <a href="#"><svg>
                    <use xlink:href="#ok-facebook-social" />
             </svg></a>
             <a href="#"><svg>
                    <use xlink:href="#ok-gmail-social" />
             </svg></a>
         </div>
         <!-- /.ok-form-social -->
        </div>
     <!-- /.ok-regist__block -->
 </section>
