<header class="ok-header">
       
    <div class="ok-menu ">
            <a href="../" class="ok-menu__logo"><svg><use xlink:href="#ok-logo"></use></svg></a>
            <h3 class="ok-title-nav">Видавництво Львівської політехніки</h3>
            <ul class="ok-menu__nav">
           
            <li><a href="../catalog-book-all.html">Каталог</a></li>
            <li><a href="../news.html">Події/Цікаве</a></li>
            <li><a href="../contacts-page.html">Контакти</a></li>
        </ul>
    </div>
    <!-- /.ok-menu -->
    <div class="ok-user ">
            <button class="ok-menu-toggle">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span>
                </button>
        <ul class="ok-user__btn">
            <li>
                <input class="ok-user-search" type="search" placeholder="Пошук" id="vo-search" onkeypress="searchBooks(event);">
            </li>
            <li>
                <a href="order-cart.html"><svg><use xlink:href="#ok-shoping-cart"></use></svg>Кошик</a>
            </li>
            <li>
                <a href="sing-in.html"><svg><use xlink:href="#ok-sign-in"></use></svg>Увійти</a>
            </li>
        </ul>
    </div>
    <!-- /.ok-user-btn -->
</header>
<!-- /.ok-header -->
<section class="ok-menu-adatpive small-12">
    <div class="ok-menu-adatpive__nav">
        
        <ul class="ok-menu-adatpive__list upper">
            <li><a href="../catalog-book-all.html">Каталог</a></li>
            <li><a href="../news.html">Події/Цікаве</a></li>
            <li><a href="../contacts-page.html">Контакти</a></li>
        </ul>
        <ul class="ok-menu-adatpive__list">
                <li><a href="#">Як придбати</a></li>
                <li><a href="#">Ціни</a></li>
                <li><a href="#">Вимоги для друку</a></li>
                <li><a href="../bookstore-network.html">Книгарні</a></li>
            </ul>
    </div>
    <!-- /.ba-menu-resp -->
    <script>
        function searchBooks (event) {
            if(event.keyCode == 13){
                const searchText = document.getElementById("vo-search").value;

                localStorage.setItem('search', searchText);
                window.open('../search-result.html','_self');
            }
        }
    </script>
</section>
<!-- /.ba-menu-adatpive -->


