<section class="hzh-herald">
    <div class="row">
        <div class="breadCrumbs">
            <a href="/">Головна /</a>
            <a href="/">Каталог /</a>
            <a href="/">Вісник Національного університету...</a>
        </div>
        <!-- /.breadCrumbs -->
        <div class="hzh-herald__about">
            <div class="column large-5 small-12">
                <h2>Вісник Національного університету „Львівська політехніка”</h2>
                <div class="hzh-marksANDcom">
                    <a>додати до закладок</a>
                    <a>коментувати</a>
                </div>
                <!-- /.hzh-marksANDcom -->
                <p>Видається з 1964 року</p>
                <p>ISBN 0321-0499 </p>
                <p>Свідоцтво про державну реєстрацію засобу масової інформації:</p>
                <p>серія КВ № 13038-1922Р від 20.07.2007 року</p>
                <p> Адреса редакційної колегії:</p>
                <p>вул. С. Бандери, 12, м. Львів, 79013</p>
            </div>
            <!-- /.hzh-herald__about--info -->
            <img class="column large-7 small-12" src="../assets/img/herald.png" alt="herald">
        </div>
        <!-- <h3>Тематичні серії</h3> -->
    </div>
    <!-- /.row column -->
</section>

<section class="hzh-herald__thematicSeries">
    <div class="row column">
        <h3 class="hzh-herald__thematicSeries--title">Тематичні серії</h3>
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Автоматика, вимірювання та керування</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>              
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Архітектура</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>              
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Держава та армія</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>              
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Динаміка, міцність та проектування машин і приладів</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>              
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Електроенергетичні та електромеханічні системи</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>              
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Електроніка</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>              
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Журналістські науки</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>            
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Інформатизація вищого навчального закладу </h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>             
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Інформаційні системи та мережі </h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>            
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Комп’ютерні науки та інформаційні технології </h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Комп’ютерні системи проектування. Теорія і практика</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Комп’ютерні системи та мережі</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Логістика</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Менеджмент та підприємництво в Україні: етапи становлення і проблеми розвитку</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Оптимізація виробничих процесів і технічний контроль у машинобудуванні та приладобудуванні</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Проблеми економіки та управління</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Проблеми лінгвістики науково-технічного і художнього тексту та питання лінгвометодики</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Проблеми української термінології</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Радіоелектроніка та телекомунікації</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Теорія і практика будівництва</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Теплоенергетика. Інженерія довкілля. Автоматизація</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Фізико-математичні науки</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Філософські науки</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Хімія, технологія речовин та їх застосування</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Хімія, технологія речовин та їх застосування</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->
        <div class="hzh-herald__thematicSeries--info column large-6">
            <h4>Юридичні науки</h4>
            <div class="hzh-numbers">
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a> 
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>
                <a>574 (2007)</a>          
            </div>
            <!-- /.numbers -->
        </div>
        <!-- /.hzh-herald__thematicSeries -->   
    </div>
    <!-- /.row column -->
</section>