<div class="vo-new-books">
    <div class="row">

        <h3 class="vo-h1">Нове</h3>
        <div class="vo-slider-block">

            <div class="vo-slider-main">
                <div class="row">
                    <div class="column">
                        <div class="small-12">
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(251, 255, 32, 0.15);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n11.jpg" alt="Управління дорожнім рухом на регульованих перехрестях у містах">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Управління дорожнім рухом на регульованих перехрестях у містах
                                            </h4>
                                            <div class="vo-new-author">
                                                Форнальчик Є. Ю., Могила І. А., Трушевський В. Е., Гілевич В. В.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            120 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(187, 243, 189, 0.5);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n12.jpg" alt="Формування дискусійної компетенції у студентів-філологів на основіавтентичних суспільно-політичних та художніх текстів">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Формування дискусійної компетенції у студентів-філологів на основіавтентичних суспільно-політичних та художніх текстів
                                            </h4>
                                            <div class="vo-new-author">
                                                Янісів М. П., Левченко О. П., Ділай М. П., Ліхнякевич І. О.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            90 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                        </div>
                        <!-- /.small-12 -->
                    </div>
                    <div class="column">
                        <div class="small-12">
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(243, 193, 187, 0.5);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n13.jpg" alt="Структура і динаміка геофізичних полів у західній Антарктиці">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Структура і динаміка геофізичних полів у західній Антарктиці
                                            </h4>
                                            <div class="vo-new-author">
                                                Бахмутов В. Г., Третяк К. Р., Максимчук В. Ю., Глотов В. М., Греку Р. Х., Єгорова Т. П., Залізовський А. В., Колосков О. В., Корчагін І. М., Проненко В. О.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            450 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(255, 211, 170, 0.5);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n14.jpg" alt="Заповідна справа">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Заповідна справа
                                            </h4>
                                            <div class="vo-new-author">
                                                Чайка О. Г., Мокрий В. І.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            120 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                        </div>
                        <!-- /.small-12 -->
                    </div>
                </div>
            </div>
            <!-- /.vo-slide-main -->
            <div class="vo-slider-main">
                <div class="row">
                    <div class="column">
                        <div class="small-12">
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(251, 255, 32, 0.15);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n11.jpg" alt="Управління дорожнім рухом на регульованих перехрестях у містах">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Управління дорожнім рухом на регульованих перехрестях у містах
                                            </h4>
                                            <div class="vo-new-author">
                                                Форнальчик Є. Ю., Могила І. А., Трушевський В. Е., Гілевич В. В.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            120 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(187, 243, 189, 0.5);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n12.jpg" alt="Формування дискусійної компетенції у студентів-філологів на основіавтентичних суспільно-політичних та художніх текстів">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Формування дискусійної компетенції у студентів-філологів на основіавтентичних суспільно-політичних та художніх текстів
                                            </h4>
                                            <div class="vo-new-author">
                                                Янісів М. П., Левченко О. П., Ділай М. П., Ліхнякевич І. О.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            90 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                        </div>
                        <!-- /.small-12 -->
                    </div>
                    <div class="column">
                        <div class="small-12">
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(243, 193, 187, 0.5);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n13.jpg" alt="Структура і динаміка геофізичних полів у західній Антарктиці">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Структура і динаміка геофізичних полів у західній Антарктиці
                                            </h4>
                                            <div class="vo-new-author">
                                                Бахмутов В. Г., Третяк К. Р., Максимчук В. Ю., Глотов В. М., Греку Р. Х., Єгорова Т. П., Залізовський А. В., Колосков О. В., Корчагін І. М., Проненко В. О.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            450 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                            <div class="vo-new-card">
                                <div class="vo-new-card-item" style="background: rgba(255, 211, 170, 0.5);">
                                    <div class="vo-new-img medium-4">
                                        <a class="vo-favorite-block" href="#">
                                            <svg width="44" height="50">
                                                <use xlink:href="#vo-favorite">
                                            </svg>
                                        </a>
                                        <img src="{{root}}assets/img/n14.jpg" alt="Заповідна справа">
                                        <a class="vo-cart-block" href="#">
                                            <svg width="55" height="50">
                                                <use xlink:href="#svg-basket">
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- /.vo-new-img -->
                                    <div class="vo-new-text medium-8">
                                        <a href="#">
                                            <h4>
                                                Заповідна справа
                                            </h4>
                                            <div class="vo-new-author">
                                                Чайка О. Г., Мокрий В. І.
                                            </div>
                                            <!-- /.vo-new-author -->
                                        </a>
                                        <div class="vo-new-price">
                                            120 <span class="vo-new-curency">грн</span>
                                        </div>
                                        <!-- /.vo-new-price -->
                                    </div>
                                    <!-- /.vo-new-text -->
                                </div>
                            </div>
                            <!-- /.vo-new-card -->
                        </div>
                        <!-- /.small-12 -->
                    </div>
                </div>
            </div>
            <!-- /.vo-slide-main -->
        </div>
        <!-- /.vo-slider-block -->

        <div class="vo-slider-block__dots row column"></div>

    </div>
</div>
<!-- /.vo-new-books -->