<section class="ok-slider-section">
    <div class="row">
        <h3 class="ok-slider-new-title">Нове</h3>
    </div>
            <div class="ba-item-slides">
                <div class="row slide-column ok-slider-block">
                    <div class="column small-6 ok-item-slide">
                        <article class="ok-slide">
                            <div class="ok-slide__img">
                                <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                <img src="{{root}}assets/img/n12.jpg" alt="book">
                            </div>
                            <!-- /.ok-slide__img -->
                            <div class="ok-slide__info">
                                <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                    містах</h4>
                                <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                    Гілевич В. В.</span>
                                <span class="ok-slide-price">120 грн</span>
                            </div>
                            <!-- /.ok-slide__info -->
                        </article>
                        <!-- /.ok-slide -->
                        <article class="ok-slide">
                                <div class="ok-slide__img">
                                    <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                    <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                    <img src="{{root}}assets/img/n14.jpg" alt="book">
                                </div>
                                <!-- /.ok-slide__img -->
                                <div class="ok-slide__info">
                                    <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                        містах</h4>
                                    <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                        Гілевич В. В.</span>
                                    <span class="ok-slide-price">120 грн</span>
                                </div>
                                <!-- /.ok-slide__info -->
                            </article>
                            <!-- /.ok-slide -->
                    </div>
                    <div class="column small-6 ok-item-slide">
                            <article class="ok-slide">
                                <div class="ok-slide__img">
                                    <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                    <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                    <img src="{{root}}assets/img/n11.jpg" alt="book">
                                </div>
                                <!-- /.ok-slide__img -->
                                <div class="ok-slide__info">
                                    <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                        містах</h4>
                                    <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                        Гілевич В. В.</span>
                                    <span class="ok-slide-price">120 грн</span>
                                </div>
                                <!-- /.ok-slide__info -->
                            </article>
                            <!-- /.ok-slide -->
                            <article class="ok-slide">
                                    <div class="ok-slide__img">
                                        <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                        <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                        <img src="{{root}}assets/img/n11.jpg" alt="book">
                                    </div>
                                    <!-- /.ok-slide__img -->
                                    <div class="ok-slide__info">
                                        <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                            містах</h4>
                                        <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                            Гілевич В. В.</span>
                                        <span class="ok-slide-price">120 грн</span>
                                    </div>
                                    <!-- /.ok-slide__info -->
                                </article>
                                <!-- /.ok-slide -->
                        </div>
                        <div class="column small-6 ok-item-slide">
                                <article class="ok-slide">
                                    <div class="ok-slide__img">
                                        <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                        <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                        <img src="{{root}}assets/img/n13.jpg" alt="book">
                                    </div>
                                    <!-- /.ok-slide__img -->
                                    <div class="ok-slide__info">
                                        <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                            містах</h4>
                                        <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                            Гілевич В. В.</span>
                                        <span class="ok-slide-price">120 грн</span>
                                    </div>
                                    <!-- /.ok-slide__info -->
                                </article>
                                <!-- /.ok-slide -->
                                <article class="ok-slide">
                                        <div class="ok-slide__img">
                                            <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                            <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                            <img src="{{root}}assets/img/n12.jpg" alt="book">
                                        </div>
                                        <!-- /.ok-slide__img -->
                                        <div class="ok-slide__info">
                                            <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                                містах</h4>
                                            <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                                Гілевич В. В.</span>
                                            <span class="ok-slide-price">120 грн</span>
                                        </div>
                                        <!-- /.ok-slide__info -->
                                    </article>
                                    <!-- /.ok-slide -->
                            </div>
                            <div class="column small-6 ok-item-slide">
                                    <article class="ok-slide">
                                        <div class="ok-slide__img">
                                            <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                            <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                            <img src="{{root}}assets/img/n11.jpg" alt="book">
                                        </div>
                                        <!-- /.ok-slide__img -->
                                        <div class="ok-slide__info">
                                            <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                                містах</h4>
                                            <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                                Гілевич В. В.</span>
                                            <span class="ok-slide-price">120 грн</span>
                                        </div>
                                        <!-- /.ok-slide__info -->
                                    </article>
                                    <!-- /.ok-slide -->
                                    <article class="ok-slide">
                                            <div class="ok-slide__img">
                                                <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                                <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                                <img src="{{root}}assets/img/n14.jpg" alt="book">
                                            </div>
                                            <!-- /.ok-slide__img -->
                                            <div class="ok-slide__info">
                                                <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                                    містах</h4>
                                                <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                                    Гілевич В. В.</span>
                                                <span class="ok-slide-price">120 грн</span>
                                            </div>
                                            <!-- /.ok-slide__info -->
                                        </article>
                                        <!-- /.ok-slide -->
                                </div>
                                <div class="column small-6 ok-item-slide">
                                        <article class="ok-slide">
                                            <div class="ok-slide__img">
                                                <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                                <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                                <img src="{{root}}assets/img/n13.jpg" alt="book">
                                            </div>
                                            <!-- /.ok-slide__img -->
                                            <div class="ok-slide__info">
                                                <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                                    містах</h4>
                                                <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                                    Гілевич В. В.</span>
                                                <span class="ok-slide-price">120 грн</span>
                                            </div>
                                            <!-- /.ok-slide__info -->
                                        </article>
                                        <!-- /.ok-slide -->
                                        <article class="ok-slide">
                                                <div class="ok-slide__img">
                                                    <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                                    <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                                    <img src="{{root}}assets/img/n12.jpg" alt="book">
                                                </div>
                                                <!-- /.ok-slide__img -->
                                                <div class="ok-slide__info">
                                                    <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                                        містах</h4>
                                                    <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                                        Гілевич В. В.</span>
                                                    <span class="ok-slide-price">120 грн</span>
                                                </div>
                                                <!-- /.ok-slide__info -->
                                            </article>
                                            <!-- /.ok-slide -->
                                    </div>
                                    <div class="column small-6 ok-item-slide">
                                            <article class="ok-slide">
                                                <div class="ok-slide__img">
                                                    <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                                    <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                                    <img src="{{root}}assets/img/n11.jpg" alt="book">
                                                </div>
                                                <!-- /.ok-slide__img -->
                                                <div class="ok-slide__info">
                                                    <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                                        містах</h4>
                                                    <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                                        Гілевич В. В.</span>
                                                    <span class="ok-slide-price">120 грн</span>
                                                </div>
                                                <!-- /.ok-slide__info -->
                                            </article>
                                            <!-- /.ok-slide -->
                                            <article class="ok-slide">
                                                    <div class="ok-slide__img">
                                                        <button class="ok-btn-book-mark"><svg><use xlink:href="#ok-book-mark" /></svg></button>
                                                        <button class="ok-btn-book-cart"><svg><use xlink:href="#ok-shoping-cart" /></svg></button>
                                                        <img src="{{root}}assets/img/n11.jpg" alt="book">
                                                    </div>
                                                    <!-- /.ok-slide__img -->
                                                    <div class="ok-slide__info">
                                                        <h4 class="ok-slide-title">Управління дорожнім рухом на регульованих перехрестях у
                                                            містах</h4>
                                                        <span class="ok-slide-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е.,
                                                            Гілевич В. В.</span>
                                                        <span class="ok-slide-price">120 грн</span>
                                                    </div>
                                                    <!-- /.ok-slide__info -->
                                                </article>
                                                <!-- /.ok-slide -->
                                        </div>
                    
                           <div class="ok-prev-arrow"><svg><use xlink:href="#ok-arrow-left" /></svg></div> 
                           <div class="ok-next-arrow"><svg><use xlink:href="#ok-arrow-right" /></svg></div> 
                   
                </div>
                <!-- /.ba-item-slide -->
            </div>
</section>
<!-- /.ok-slider-section -->