<section class="ok-news">
    <div class="ok-event-home__title row">
        <a href="#">Події/Цікаве</a>
    </div>
    <!-- /.ok-event-home__title -->
    <div class="row">
            <div class="column small-12">
                    <a href="#">
                     <div class="ok-event-img ">
                         <img src="{{root}}assets/img/news-event.png" alt="event">
                     </div>
                     <!-- /.ok-event-img -->
                     <div class="ok-event-info">
                         <h4>Наші книжки – серед Лідерів Літа</h4>
                         <p>То ще не перемога, але – великий до неї крок.</p>
                     </div>
                     <!-- /.ok-event-info -->
                    </a>
                 </div>
                 <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row">
            <div class="column small-12 medium-4">
               <a href="#">
                <div class="ok-event-img ">
                    <img src="{{root}}assets/img/event-img3.jpg" alt="event">
                </div>
                <!-- /.ok-event-img -->
                <div class="ok-event-info">
                    <h4>Хай живуть канікули!</h4>
                    <p>Дорогі Автори, Читачі, Покупці!
                           Наразі нам не пишіть і не дзвоніть.
                            Ми будемо поза межами і поза зонами.</p>
                </div>
                <!-- /.ok-event-info -->
               </a>
            </div>
            <!-- /.column -->
            <div class="column small-12 medium-4">
                   <a href="#">
                    <div class="ok-event-img ">
                        <img src="{{root}}assets/img/event-img1.jpg" alt="event">
                    </div>
                    <!-- /.ok-event-img -->
                    <div class="ok-event-info">
                        <h4>Двадцять найкращих книжок століття, перекладених українською</h4>
                        <p>Дорогі Автори, Читачі, Покупці!
                               Наразі нам не пишіть і не дзвоніть.
                                Ми будемо поза межами і поза зонами.</p>
                    </div>
                    <!-- /.ok-event-info -->
                   </a>
                </div>
                <!-- /.column -->
                <div class="column small-12 medium-4">
                       <a href="#">
                        <div class="ok-event-img ">
                            <img src="{{root}}assets/img/event-img2.jpg" alt="event">
                        </div>
                        <!-- /.ok-event-img -->
                        <div class="ok-event-info">
                            <h4>28 червня – День Конституції України</h4>
                            <p>Держава починається з мене.</p>
                        </div>
                        <!-- /.ok-event-info -->
                       </a>
                    </div>
                    <!-- /.column -->
        </div>
        <!-- /.row -->
        <div class="row">
                <div class="column small-12 medium-8">
                   <a href="#">
                    <div class="ok-event-img ">
                        <img src="{{root}}assets/img/news2.jpg" alt="event">
                    </div>
                    <!-- /.ok-event-img -->
                    <div class="ok-event-info">
                        <h4>"Дивлюсь я на небо та й думку гадаю...</h4>
                        <p>Видавництво ЛП підняло свій прапор над найвищою українською вершиною вже вдруге. Наша перемога – в іншому: цього разу нас було БАГАТО, багато було серед нас ДІТЕЙ, і ВСІ ЯК ОДНО взяли цю висоту.</p>
                    </div>
                    <!-- /.ok-event-info -->
                   </a>
                </div>
                <!-- /.column -->
                <div class="column small-12 medium-4">
                       <a href="#">
                        <div class="ok-event-img ">
                            <img src="{{root}}assets/img/news3.jpg" alt="event">
                        </div>
                        <!-- /.ok-event-img -->
                        <div class="ok-event-info">
                            <h4>Видавництву ЛП 25 років</h4>
                            <p>Ми безмежно вдячні Вам за те, що розділяєте нашу радість.</p>
                        </div>
                        <!-- /.ok-event-info -->
                       </a>
                    </div>
                    <!-- /.column -->
                   
            </div>
            <!-- /.row -->
            <div class="row">
                    <div class="column small-12 medium-3">
                       <a href="#">
                        <div class="ok-event-img ">
                            <img src="{{root}}assets/img/news5.jpg" alt="event">
                        </div>
                        <!-- /.ok-event-img -->
                        <div class="ok-event-info">
                            <h4>AMOR LIBORUM NOS UNIT. </h4>
                            <p></p>
                        </div>
                        <!-- /.ok-event-info -->
                       </a>
                    </div>
                    <!-- /.column -->
                    <div class="column small-12 medium-3">
                           <a href="#">
                            <div class="ok-event-img ">
                                <img src="{{root}}assets/img/news6.jpg" alt="event">
                            </div>
                            <!-- /.ok-event-img -->
                            <div class="ok-event-info">
                                <h4>Презентовано монографію Мирослава Яціва і Юрія Криворучка "Архітектура світла в українській церкві"</h4>
                                <p></p>
                            </div>
                            <!-- /.ok-event-info -->
                           </a>
                        </div>
                        <!-- /.column -->
                        <div class="column small-12 medium-3">
                               <a href="#">
                                <div class="ok-event-img ">
                                    <img src="{{root}}assets/img/news7.jpg" alt="event">
                                </div>
                                <!-- /.ok-event-img -->
                                <div class="ok-event-info">
                                    <h4>ХІХ Всеукраїнська виставка-форум "Українська книга на Одещині"</h4>
                                    <p></p>
                                </div>
                                <!-- /.ok-event-info -->
                               </a>
                            </div>
                            <!-- /.column -->
                            <div class="column small-12 medium-3">
                                    <a href="#">
                                     <div class="ok-event-img ">
                                         <img src="{{root}}assets/img/news8.jpg" alt="event">
                                     </div>
                                     <!-- /.ok-event-img -->
                                     <div class="ok-event-info">
                                         <h4>Мотивуймося, надихаймося... читаймо</h4>
                                         <p>Банально було б стверджувати, що осінь – то пора на читання</p>
                                     </div>
                                     <!-- /.ok-event-info -->
                                    </a>
                                 </div>
                                 <!-- /.column -->
                </div>
                <!-- /.row -->
                <div class="row">
                        <div class="column small-12 medium-6">
                           <a href="#">
                            <div class="ok-event-img ">
                                <img src="{{root}}assets/img/news9.jpg" alt="event">
                            </div>
                            <!-- /.ok-event-img -->
                            <div class="ok-event-info">
                                <h4>ХІХ Всеукраїнська виставка-форум "Українська книга на Одещині"</h4>
                                <p>8–20 травня 2018 року в Одесі триває XIX Всеукраїнська виставка-форум «Українська книга на Одещині».</p>
                            </div>
                            <!-- /.ok-event-info -->
                           </a>
                        </div>
                        <!-- /.column -->
                        <div class="column small-12 medium-6">
                               <a href="#">
                                <div class="ok-event-img ">
                                    <img src="{{root}}assets/img/news10.jpg" alt="event">
                                </div>
                                <!-- /.ok-event-img -->
                                <div class="ok-event-info">
                                    <h4>17 травня – ДЕНЬ ВИШИВАНКИ</h4>
                                    <p>Це свято вже має свою традицію, свою тяглість. Ідея, що сяйнула якось молодій дівчині, студентці з Чернівців, сподобалася тисячам людей у цілому світі – як прояв особистої ініціативи і доброї волі.</p>
                                </div>
                                <!-- /.ok-event-info -->
                               </a>
                            </div>
                            <!-- /.column -->
                           
                    </div>
                    <div class="row align-center">
                        <div class="small-10">
                                <div class="ok-select-page">
                                        <span class="ok-how-much-item">показано 20 результатів з 983</span>
                                         <div class="ok-select-number-page">
                                             <a href="#">1</a>
                                             <a href="#">2</a>
                                             <a href="#">3</a>
                                             <a href="#">4</a>
                                             <a href="#">6</a>
                                             <a href="#">7</a>
                                             <a href="#">8</a>
                                             <a href="#">9</a>
                                             <a href="#">10</a>
                                         </div>
                                         <!-- /.ok-select-number-page -->
                        </div>
                        <!-- /.small-10 -->
                    </div>
</section>
<!-- /.ok-news -->