<section class="order">
    <div class="row">
    <h4 class="ok-title-order-number">Замовлення №</h4>
    </div>
    <!-- /.row -->
   
  
        <div class="callout small-12" data-closable="slide-out-left">
                <div class="row">
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                  </button>
        <div class="column small-6 medium-3 small-order-2 medium-order-1 ">
            <div class="ok-order-img">
                <img src="{{root}}assets/img/n11.jpg" alt="book">
            </div>
            <!-- /.ok-order-img -->
           
        </div>
        <!-- /.column small-2 -->
        <div class="column small-6 medium-5  small-order-3 medium-order-2">
            <div class="ok-order-info">
                <h5 class="ok-order-title">Управління дорожнім рухом на регульованих перехрестях у містах</h5>
                 <span class="ok-order-author">Форнальчик Є. Ю., Могила І. А., Трушевський В. Е., Гілевич В. В.</span>
                 <div class="ok-book-info-order">
                     <p class="small-12 medium-4">ISBN 978-966-941-133-4 
                         236 сторінок
                         тверда обкладинка
                         2018 рік
                         формат 170х215 мм
                     </p>

                     <span><svg><use xlink:href="#ok-comment" /></svg>коментувати</span>
                 </div>
                 <!-- /.ok-book-info-order -->    
             </div>
            <!-- /.ok-order-info -->
         </div>
         <!-- /.column small-4 -->
         <div class="column small-12 medium-4 small-order-1 medium-order-3">
             <div class="order-price-quantity">
                            <div class="ok-input-nubmer order-num">
                    <button class="ok-arrow-minus">- </button>
                    <input class="ok-input-num" type="number" min="1" max="10" value="1">
                    <button class="ok-arrow-plus"> +</button>
                </div>
                <span class="ok-book-order-price">120 грн</span>
             </div>
             <!-- /.order-price-how-much -->
         </div>
         <!-- /.column small-3 -->
        </div>
        <!-- /.row -->
        </div>
    
</section>
<!-- /.order -->