<article class="hzh-politex">
    <div class="row column">
            <h6>Видавництво “Львівська політехніка”</h6>
            <cite>„Демократія опирається на добре інформованих людей”. </cite>
            <div class="hzh-politex__about">
                <p>Так стверджує Хартія читача, прийнята 1992 року Міжнародною асоціацією видавців і Міжнародним комітетом книги. Так вважаємо і ми – наукова і творча спільнота Видавництва Львівської політехніки, створеного 1993 року.</p>
                <p>Радо вітаємо) Ви напевно знайдете тут цікаві новини, важливу інформацію, потрібну книжку.</p>    
                <p>Видавництво Національного університету „Львівська політехніка” – сучасний видавничо-поліграфічний комплекс. Від 1999 року – щорічний активний учасник Форуму видавців у Львові.</p>    
                <p>Роль книги, читання у процесі здобуття освіти годі переоцінити. Усвідомлюючи це, ми прагнемо творити якісну книгу – і на рівні змісту, і на рівні поліграфічного виконання. Ми видаємо навчальну, наукову, довідкову, навчально-методичну літературу. Забезпечуємо навчальний процес у Львівській політехніці підручниками, посібниками, монографіями, конспектами лекцій, довідниками, словниками, навчально-методичними матеріалами.</p>    
                <p>Наші книжки знають і читають у багатьох навчальних закладах України. Зокрема, великий попит існує на наші видання з технічних і комп’ютерних наук, економіки, будівництва, архітектури.</p>      
            </div>
            <!-- /.hzh-politex__about -->        
    </div>
    <!-- /.row column -->
</article>
    
