<section class="ok-single-product">

    <div class="row vo-product-single"></div>
    <script type="text/template" id="product-single">
        <div class="row block-title-adaptive">
            <h3 class="ok-single-product__title">--title--</h3>
            <span class="ok-single-product__subtitle">--author--</span>
        </div>
        <div class="row align-justify">
            <div class="column small-6 medium-6 large-4">
                <div class="ok-single-product__img">
                    <img src="{{root}}assets/img/--image--" alt="book">
                </div>
            </div>
            <div class="column small-6">
                <div class="ok-single-product__info">
                    <div class="ok-block-adaptive-product">
                    <h3 class="ok-single-product__title">--title--</h3>
                    <span class="ok-single-product__subtitle">--author--</span>
                </div>
                    <div class="ok-single-product__info-book">
                        <p>--isbn-- --pages-- --cover-- --year-- --format--</p>
                        <div class="ok-single-product__comment-btn">
                            <a href="#">
                                <svg>
                                    <use xlink:href="#ok-comment" />
                                </svg>
                                коментувати
                            </a>
                            <button href="#">
                                <svg>
                                    <use xlink:href="#ok-book-mark" />
                                </svg>
                                додати до закладок
                            </button>
                        </div>
                    </div>
                    <span class="ok-single-product__price">
                        <svg>
                            <use xlink:href="#ok-shoping-cart" />
                        </svg>
                        <span id="vo-single-product-price">--price-- грн</span>
                    </span>
                    <div class="ok-single-product__btn">
                        <button class="ok-btn-to-cart" type="submit" onclick="addToCartSingle(--product-id--, 'vo-single-product-qty')">покласти у кошик</button>
                        <div class="ok-input-nubmer">
                            <button class="ok-arrow-minus" onclick="changeQuantity(--price--, 'vo-single-product-qty', 'vo-single-product-price', 0)">- </button>

                            <input class="ok-input-num" type="number" min="1" max="100" value="1" id="vo-single-product-qty">

                            <button class="ok-arrow-plus" onclick="changeQuantity(--price--, 'vo-single-product-qty', 'vo-single-product-price', 1)"> +</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-justify">
            <div class="column small-12 medium-6 large-4">
                <div class="ok-block-drop-menu">
                <span class="ok-book-info">Повний текст монографії</span>
                <ul class="vertical menu accordion-menu drop-menu-info" data-accordion-menu>
                        <li>
                          <a href="#">Приладо-, машинобудування, транспорт</a>
                          <ul class="menu vertical nested">
                            <li><a href="#">Item 1A</a></li>
                            <li><a href="#">Item 1B</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Монографії</a>
                        <ul class="menu vertical nested">
                            <li><a href="#">Item 1A</a></li>
                            <li><a href="#">Item 1B</a></li>
                          </ul></li>
                      </ul>
            </div>
            </div>
            <div class="column small-12 medium-6 padding-left-block">
                <div class="text-info-book">
                    <span class="ok-single-product__author">--short-info--, --year--. --pages-- --format-- --cover--.</span>
                    --description--
                </div>
            </div>
        </div>
    </script>
    <script>
        const productTmpl = document.getElementById('product-single').innerHTML;
        const productSingle = document.querySelector('.vo-product-single');
        let productSingleHTML = '';
        let tempList = localStorage.getItem("productSingle").split('|');
        let productData = {};

        tempList.forEach( function(el) {
            let temp = el.split(':');
            let key = temp[0];
            let value = temp[1];

            productData[key] = value;
        });

        if (productData.price){
            productSingleHTML += productTmpl
            .replace(/--title--/ig, productData.title)
            .replace(/--author--/ig, productData.author)
            .replace(/--image--/ig, productData.imageBig)
            .replace(/--description--/ig, productData.description)
            .replace(/--short-info--/ig, productData.short_info)
            .replace(/--year--/ig, productData.published)
            .replace(/--pages--/ig, productData.pages)
            .replace(/--format--/ig, productData.format)
            .replace(/--cover--/ig, productData.cover)
            .replace(/--isbn--/ig, productData.isbn)
            .replace(/--author--/ig, productData.author)
            .replace(/--product-id--/ig, productData.id)
            .replace(/--price--/ig, productData.price);
        } else{
            productSingleHTML += productTmpl
            .replace(/--title--/ig, productData.title)
            .replace(/--author--/ig, productData.author)
            .replace(/--image--/ig, productData.imageBig)
            .replace(/--description--/ig, productData.description)
            .replace(/--short-info--/ig, productData.short_info)
            .replace(/--year--/ig, productData.published)
            .replace(/--pages--/ig, productData.pages)
            .replace(/--format--/ig, productData.format)
            .replace(/--cover--/ig, productData.cover)
            .replace(/--isbn--/ig, productData.isbn)
            .replace(/--author--/ig, productData.author)
            .replace(/--product-id--/ig, productData.id)
            .replace(/--price-- грн/ig, '');
        }
        productSingle.innerHTML = productSingleHTML;

        function addToCartSingle (idProduct, idQuantity) {
            const qty = document.getElementById(idQuantity).value;

            if (localStorage.getItem("cart")){
                const productsLocal = localStorage.getItem("cart");
                const compareId =  '-' + idProduct + ':';
                let listCompareId = productsLocal.split('|')

                for (let i=0; i < listCompareId.length; i++){
                    if (listCompareId[i].match(compareId)){
                        const newValue = '-' + idProduct + ':' + qty + '-';

                        console.log(listCompareId)
                        listCompareId.slice(i, 1);
                        listCompareId.push(newValue);
                    }
                }
                        console.log(listCompareId)

                // listCompareId.forEach( function(el) {
                    
                // });
                // if (productsLocal.match(compareId)){
                //     console.log('Match')
                //     const newValue = '-' + idProduct + ':' + qty + '-';
                //     const deletableValue = '-' + idProduct + ':' + '\\d{0,2}' + '-';
                //     console.log(newValue)
                //     console.log(deletableValue)
                    
                //     productsLocal.replace(deletableValue, newValue);
                // }
                localStorage.setItem("cart", productsLocal + "|" + "-" + idProduct + ':' + qty + "-");
            } else{
                localStorage.setItem("cart", "-" + idProduct + ':' + qty + "-");
            }
        }

        let qty = document.getElementById("vo-single-product-qty");
        qty.value = 1;

        function changeQuantity (productPrice, idQuantity, idPrice, action) {
            const price = document.getElementById(idPrice);

            qty = document.getElementById(idQuantity).value;
            if(action){
                qtyNumber = parseInt(qty, 10);
                price.innerText = productPrice * qtyNumber + ' грн';
            } else{
                qtyNumber = parseInt(qty, 10);
                price.innerText = productPrice * qtyNumber + ' грн';
            }
            
        }

    </script>
</section>
<!-- /.ok-single-product -->