<section class="ok-single-product">
    <div class="row block-title-adaptive">
        <h3 class="ok-single-product__title">Управління дорожнім рухом на регульованих перехрестях у містах</h3>
        <span class="ok-single-product__subtitle">За заг. ред. проф. Є. Ю. Форнальчика</span>
    </div>
    <div class="row align-justify">
        <div class="column small-6 medium-6 large-4">
            <div class="ok-single-product__img">
                              <div class="ok-book-wrap-signle day">
                                    <div class="ok-book-signle-spine"></div>
                                <div class="ok-title-single ok-book-1"> 
                                    <img src="{{root}}assets/img/n11.jpg" alt="book">
                                </div>
                                <div class="ok-back-single">
                                    <p>Показано переваги імітаційного моделювання у дослідженні роботи регульованих перехресть,
                                            використання нечіткої логіки в адаптивних алгоритмах керування та організації руху за окремими
                                            напрямками з урахуванням потреб пішоходів та громадського транспорту.</p>
                                </div>
                              </div>
                            s
                     
                
            </div>
            <!-- /.ok-single-product__img -->
        </div>
        <!-- /.column small-4 -->
        <div class="column small-6">
            <div class="ok-single-product__info">
                <div class="ok-block-adaptive-product">
                <h3 class="ok-single-product__title">Управління дорожнім рухом на регульованих перехрестях у містах</h3>
                <span class="ok-single-product__subtitle">За заг. ред. проф. Є. Ю. Форнальчика</span>
            </div>
            <!-- /.ok-block-adaptive-product -->
                <div class="ok-single-product__info-book">
                    <p>ISBN 978-966-941-133-4 236 сторінок тверда обкладинка 2018 рік формат 170х215 мм</p>
                    <div class="ok-single-product__comment-btn">
                        <a href="#"><svg>
                                <use xlink:href="#ok-comment"></use></svg>коментувати</a>
                        <button>
                            <svg><use xlink:href="#ok-book-mark"></use></svg>дадати до закладок</button>
                    </div>
                    <!-- /.ok-single-product__comment -->

                </div>
                <!-- /.ok-single-product__btn -->
                <span class="ok-single-product__price"><svg>
                        <use xlink:href="#ok-shoping-cart" /></svg>120 грн</span>
                <div class="ok-single-product__btn">
                    <button class="ok-btn-to-cart" type="submit">покласти у кошик</button>
                    <div class="ok-input-nubmer">
                        <button class="ok-arrow-minus">- </button>
                        <input class="ok-input-num" type="number" min="1" max="10" value="1">
                        <button class="ok-arrow-plus"> +</button>
                    </div>
                    <!-- /.ok-btn-nubme -->

                </div>
                <!-- /.ok-single-product__btn -->
            </div>
            <!-- /.ok-single-product__info -->
        </div>
        <!-- /.colomn small-6 -->
    </div>
    <div class="row align-justify">
        <div class="column small-12 medium-6 large-4">
            <div class="ok-block-drop-menu">
            <span class="ok-book-info">Повний текст монографії</span>
            <ul class="vertical menu accordion-menu drop-menu-info" data-accordion-menu>
                    <li>
                      <a href="#">Приладо-, машинобудування, транспорт</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">Item 1A</a></li>
                        <li><a href="#">Item 1B</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Монографії</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">Item 1A</a></li>
                        <li><a href="#">Item 1B</a></li>
                      </ul></li>
                  </ul>
        </div>
        <!-- /.ok-block-drop-menu -->
        </div>
        <!-- /.column small-3 -->
        <div class="column small-12 medium-6 padding-left-block">
            <div class="text-info-book">
                <span class="ok-single-product__author">Монографія / Є. Ю. Форнальчик, І. А. Могила, В. Е. Трушевський,
                    В. В. Гілевич. Львів : Видавництво Львівської політехніки, 2018. 236 с. Формат 170 х 215 мм. Тверда
                    оправа.</span>
                <p>Викладено сучасні наукові підходи до управління дорожнім рухом на регульованих перехрестях у містах
                    з урахуванням режимів роботи світлофорної сигналізації та чинників, які впливають на роботу
                    перехресть.</p>

                <p> Показано переваги імітаційного моделювання у дослідженні роботи регульованих перехресть,
                    використання нечіткої логіки в адаптивних алгоритмах керування та організації руху за окремими
                    напрямками з урахуванням потреб пішоходів та громадського транспорту.</p>

                <p>Розраховано на працівників та науковців у галузі організації та регулювання дорожнього руху,
                    аспірантів та студентів технічних університетів та профільних НДІ. </p>
            </div>
            <!-- /.text-info-book -->
        </div>
        <!-- /.column small-12 medium-6 -->
    </div>
    <!-- /.row -->

    <div class="row vo-product-single"></div>
    <script type="text/template" id="product-single">
        <div class="row block-title-adaptive">
            <h3 class="ok-single-product__title">--title--</h3>
            <span class="ok-single-product__subtitle">--author--</span>
        </div>
        <div class="row align-justify">
            <div class="column small-6 medium-6 large-4">
                <div class="ok-single-product__img">
                    <img src="{{root}}assets/img/--image--" alt="book">
                </div>
            </div>
            <div class="column small-6">
                <div class="ok-single-product__info">
                    <div class="ok-block-adaptive-product">
                    <h3 class="ok-single-product__title">--title--</h3>
                    <span class="ok-single-product__subtitle">--author--</span>
                </div>
                    <div class="ok-single-product__info-book">
                        <p>--isbn-- --pages-- --cover-- --year-- --format--</p>
                        <div class="ok-single-product__comment-btn">
                            <a href="#">
                                <svg>
                                    <use xlink:href="#ok-comment" />
                                </svg>
                                коментувати
                            </a>
                            <button href="#">
                                <svg>
                                    <use xlink:href="#ok-book-mark" />
                                </svg>
                                додати до закладок
                            </button>
                        </div>
                    </div>
                    <span class="ok-single-product__price">
                        <a href="../order-cart.html">
                            <svg>
                                <use xlink:href="#ok-shoping-cart" />
                            </svg>
                        </a>
                        <span id="vo-single-product-price">--price-- грн</span>
                    </span>
                    <div class="ok-single-product__btn">
                        <button class="ok-btn-to-cart" type="submit" onclick="addToCartSingle(--product-id--, 'vo-single-product-qty')">покласти у кошик</button>
                        <div class="ok-input-nubmer">
                            <button class="ok-arrow-minus" onclick="changeQuantity(--price--, 'vo-single-product-qty', 'vo-single-product-price', 0)">- </button>

                            <input class="ok-input-num" type="number" min="1" max="100" value="1" id="vo-single-product-qty">

                            <button class="ok-arrow-plus" onclick="changeQuantity(--price--, 'vo-single-product-qty', 'vo-single-product-price', 1)"> +</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-justify">
            <div class="column small-12 medium-6 large-4">
                <div class="ok-block-drop-menu">
                <span class="ok-book-info">Повний текст монографії</span>
                <ul class="vertical menu accordion-menu drop-menu-info" data-accordion-menu>
                        <li>
                          <a href="#">Приладо-, машинобудування, транспорт</a>
                          <ul class="menu vertical nested">
                            <li><a href="#">Item 1A</a></li>
                            <li><a href="#">Item 1B</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Монографії</a>
                        <ul class="menu vertical nested">
                            <li><a href="#">Item 1A</a></li>
                            <li><a href="#">Item 1B</a></li>
                          </ul></li>
                      </ul>
            </div>
            </div>
            <div class="column small-12 medium-6 padding-left-block">
                <div class="text-info-book">
                    <span class="ok-single-product__author">--short-info--, --year--. --pages-- --format-- --cover--.</span>
                    --description--
                </div>
            </div>
        </div>
    </script>
    <script>
        const productTmpl = document.getElementById('product-single').innerHTML;
        const productSingle = document.querySelector('.vo-product-single');
        let productSingleHTML = '';
        let tempList = localStorage.getItem("productSingle").split('|');
        let productData = {};

        tempList.forEach( function(el) {
            let temp = el.split(':');
            let key = temp[0];
            let value = temp[1];

            productData[key] = value;
        });

        if (productData.price){
            productSingleHTML += productTmpl
            .replace(/--title--/ig, productData.title)
            .replace(/--author--/ig, productData.author)
            .replace(/--image--/ig, productData.imageBig)
            .replace(/--description--/ig, productData.description)
            .replace(/--short-info--/ig, productData.short_info)
            .replace(/--year--/ig, productData.published)
            .replace(/--pages--/ig, productData.pages)
            .replace(/--format--/ig, productData.format)
            .replace(/--cover--/ig, productData.cover)
            .replace(/--isbn--/ig, productData.isbn)
            .replace(/--author--/ig, productData.author)
            .replace(/--product-id--/ig, productData.id)
            .replace(/--price--/ig, productData.price);
        } else{
            productSingleHTML += productTmpl
            .replace(/--title--/ig, productData.title)
            .replace(/--author--/ig, productData.author)
            .replace(/--image--/ig, productData.imageBig)
            .replace(/--description--/ig, productData.description)
            .replace(/--short-info--/ig, productData.short_info)
            .replace(/--year--/ig, productData.published)
            .replace(/--pages--/ig, productData.pages)
            .replace(/--format--/ig, productData.format)
            .replace(/--cover--/ig, productData.cover)
            .replace(/--isbn--/ig, productData.isbn)
            .replace(/--author--/ig, productData.author)
            .replace(/--product-id--/ig, productData.id)
            .replace(/--price-- грн/ig, '');
        }
        productSingle.innerHTML = productSingleHTML;

        function addToCartSingle (idProduct, idQuantity) {
            const qty = document.getElementById(idQuantity).value;

            if (localStorage.getItem("cart")){
                const productsLocal = localStorage.getItem("cart");
                const compareId =  '-' + idProduct + ':';
                let listCompareId = productsLocal.split(',');
                let exist = false;
                let index = '';

                for (let i=0; i < listCompareId.length; i++){
                    if (listCompareId[i].match(compareId)){
                        exist = true;
                        index = i;
                    }
                }

                if (exist){
                    const newValue = '-' + idProduct + ':' + qty + '-';
                    let finalList = listCompareId.slice();

                    finalList.splice(index, 1);
                    finalList.push(newValue);

                    var finalString = finalList.join();

                    localStorage.setItem("cart", finalString);
                } else{
                    localStorage.setItem("cart", productsLocal + "," + "-" + idProduct + ':' + qty + "-");
                }
            } else{
                localStorage.setItem("cart", "-" + idProduct + ':' + qty + "-");
            }
        }

        function changeQuantity (productPrice, idQuantity, idPrice, action) {
            let price = document.getElementById(idPrice);
            let qty = document.getElementById(idQuantity).value;

            if(action){
                qtyNumber = parseInt(qty, 10) + 1;
                price.innerText = productPrice * qtyNumber + ' грн';
            } else{
                if (price.innerText.split(' ')[0] !== productPrice.toString() ){
                    qtyNumber = parseInt(qty, 10) - 1;
                    price.innerText = productPrice * qtyNumber + ' грн';
                }
            }
        }

    </script>
</section>
<!-- /.ok-single-product -->