<section class="ok-single-product">
    <div class="row block-title-adaptive">
            <h3 class="ok-single-product__title">Управління дорожнім рухом на регульованих перехрестях у містах</h3>
            <span class="ok-single-product__subtitle">За заг. ред. проф. Є. Ю. Форнальчика</span>
    </div>
    <div class="row align-justify">
        <div class="column small-6 medium-6 large-4">
            <div class="ok-single-product__img">
                <img src="{{root}}assets/img/n11.jpg" alt="book">
            </div>
            <!-- /.ok-single-product__img -->
        </div>
        <!-- /.column small-4 -->
        <div class="column small-6">
            <div class="ok-single-product__info">
                <div class="ok-block-adaptive-product">
                <h3 class="ok-single-product__title">Управління дорожнім рухом на регульованих перехрестях у містах</h3>
                <span class="ok-single-product__subtitle">За заг. ред. проф. Є. Ю. Форнальчика</span>
            </div>
            <!-- /.ok-block-adaptive-product -->
                <div class="ok-single-product__info-book">
                    <p>ISBN 978-966-941-133-4 236 сторінок тверда обкладинка 2018 рік формат 170х215 мм</p>
                    <div class="ok-single-product__comment-btn">
                        <a href="#"><svg>
                                <use xlink:href="#ok-comment" /></svg>коментувати</a>
                        <button href="#"><svg>
                                <use xlink:href="#ok-book-mark" /></svg>дадати до закладок</button>
                    </div>
                    <!-- /.ok-single-product__comment -->

                </div>
                <!-- /.ok-single-product__btn -->
                <span class="ok-single-product__price"><svg>
                        <use xlink:href="#ok-shoping-cart" /></svg>120 грн</span>
                <div class="ok-single-product__btn">
                    <button class="ok-btn-to-cart" type="submit">покласти у кошик</button>
                    <div class="ok-input-nubmer">
                        <button class="ok-arrow-minus">- </button>
                        <input class="ok-input-num" type="number" min="1" max="10" value="1">
                        <button class="ok-arrow-plus"> +</button>
                    </div>
                    <!-- /.ok-btn-nubme -->

                </div>
                <!-- /.ok-single-product__btn -->
            </div>
            <!-- /.ok-single-product__info -->
        </div>
        <!-- /.colomn small-6 -->
    </div>
    <div class="row align-justify">
        <div class="column small-12 medium-6 large-4">
            <div class="ok-block-drop-menu">
            <span class="ok-book-info">Повний текст монографії</span>
            <ul class="vertical menu accordion-menu drop-menu-info" data-accordion-menu>
                    <li>
                      <a href="#">Приладо-, машинобудування, транспорт</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">Item 1A</a></li>
                        <li><a href="#">Item 1B</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Монографії</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">Item 1A</a></li>
                        <li><a href="#">Item 1B</a></li>
                      </ul></li>
                  </ul>
        </div>
        <!-- /.ok-block-drop-menu -->
        </div>
        <!-- /.column small-3 -->
        <div class="column small-12 medium-6 padding-left-block">
            <div class="text-info-book">
                <span class="ok-single-product__author">Монографія / Є. Ю. Форнальчик, І. А. Могила, В. Е. Трушевський,
                    В. В. Гілевич. Львів : Видавництво Львівської політехніки, 2018. 236 с. Формат 170 х 215 мм. Тверда
                    оправа.</span>
                <p>Викладено сучасні наукові підходи до управління дорожнім рухом на регульованих перехрестях у містах
                    з урахуванням режимів роботи світлофорної сигналізації та чинників, які впливають на роботу
                    перехресть.</p>

                <p> Показано переваги імітаційного моделювання у дослідженні роботи регульованих перехресть,
                    використання нечіткої логіки в адаптивних алгоритмах керування та організації руху за окремими
                    напрямками з урахуванням потреб пішоходів та громадського транспорту.</p>

                <p>Розраховано на працівників та науковців у галузі організації та регулювання дорожнього руху,
                    аспірантів та студентів технічних університетів та профільних НДІ. </p>
            </div>
            <!-- /.text-info-book -->
        </div>
        <!-- /.column small-12 medium-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.ok-single-product -->