{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <meta name="description" content="">

    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}favicon-16x16.png">
    <link rel="manifest" href="{{root}}site.webmanifest">
    <link rel="mask-icon" href="{{root}}safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
  </head>
<body>

{{> header}}
{{> body}}
{{> footer}}

{{> svg-sprite}}

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_BvGQbN1ahxfHjgxzrwMh6zzJs_NQzHU&callback=initMap">
</script>

<script src="{{root}}assets/js/app.js"></script>

</body>
</html>
